@()

@main("Starter packages") {
<section id="starters">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2>Chat</h2>
            <p>
            First, be sure to join the #vindinium IRC chan on Freenode if you have any questions or if you want to geek around a little bit. Here is a <a href="http://webchat.freenode.net/?channels=vindinium">direct link for people who don't have an IRC client</a>.
            </p>
            <h2>Registration</h2>
            <p>First, you will need to register your AI (Artificial Intelligence) on the server using the <a href="@routes.User.registerForm()">register page</a>. You just have to enter a name and we will give you a secret key. Be sure to write it down as there is no way to recover it later. This key will be used to uniquely identify your bot with the name you choosed.</p>
            <p>Once you have your key, you can already try one of <a href="#starter-packs">the starter packs</a> in training mode if you want. More on <a href="#game-modes">modes in the API section</a>.</p>

            <h2 id="starter-packs">Starter packs</h2>
            <p>If you want to know how to write a bot, just have a look at the following starter packs. They implement a bot that is moving in a random direction at each turn. Otherwise, you can read the full tech spec below.</p>
            <h3>Scala</h3>
            <p>A scala starter pack is <a href="http://data.jousse.org/vindinium/vindinium-starter-scala.tar.gz">downloadable here</a>. Be sure to read the included README to understand how to use it.</p>
            <h3>Python</h3>
            <p>A python starter pack is <a href="https://github.com/ornicar/vindinium-starter-python">available here</a>. Be sure to read the included README to understand how to use it.</p>
            <h3>Java</h3>
            <p>A python starter pack is <a href="http://data.jousse.org/vindinium/vindinium-starter-java.tar.gz">downloadable here</a>. Be sure to read the included README to understand how to use it.</p>

            <h2>Game architecture</h2>
            <pre>
             +------------+                             +-----------------+
             |            |  1)HTTP Request             |                 |
             |            | (initial state, move order) |                 |
             |   Client   +---------------------------->|                 |
             |            |                             |                 |
             | scala,     |                             |    Game server  |
             | python,    |  2)Json Response            |                 |
             | java,      |(new game state)             |                 |
             | …          |<----------------------------+                 |
             |            |                             |                 |
             |            |                             |                 |
             +------------+                             +-----------------+</pre>

            <p>As you may already have noticed with the above diagram, your bot will basically be a HTTP client. You send a HTTP request (to have the initial game state or to move your bot) and then you got a HTTP Response encoded in Json.</p>
            <p>Ok fine, let's see what those requests look like.</p>
            <h2>API</h2>
            <p>The requests you will have to send to the server will depend on the mode you are using. You can either train your bot by using the "training mode" or play for real using the "arena mode". Each mode is using a different URL for the requests.</p>

            <h3 id="game-modes">Game modes</h3>

            <h4>Training</h4>
            <p>In training mode, you can play against some dummy bots, you can specify the number of turns you want to play and, if you want, you can provide a specific map to test your algorithms. The games played in Training mode are not scored, so feel free to use it as much as you want.</p>
            <p>In training mode, the url you will need to use is: <pre>http://vindinium.jousse.org/api/training</pre></p>

            <p>Here are the steps you need to follow to play in training mode</p>
            <ol>
                <li>Send a POST HTTP request to the <strong>http://vindinium.jousse.org/api/training</strong> URL to get the initial game state. Here are the parameters you can pass in the POST body:
                <dl>
                    <dt>key (required)<dt><dd>The secret key you wrote down after registering at the <a href="@routes.User.registerForm()">register page</a></dd>
                    <dt>turns<dt><dd>The number of turns you want to play. If you don't specify this parameter, 300 turns will be played.</dd>
                    <dt>map<dt><dd>The map id corresponding to the map you want to use. Possible values are: m1, m2, m3, m4, m5, m6. You can <a href="https://bitbucket.org/vjousse/24hcodebot/src/6ad21de9da64d51592d4ac0b8ebbe86443cb3b2f/app/Maps.scala?at=master#cl-7">have a look at the maps here</a>. If you don't specify this parameter, a random map will be generated for you.</dd>
                </dl>
                </li>
                <li>Parse the JSON you've received as a response of the first step. See <a href="#json-doc">Json documentation for more details</a>.</li>
                <li>Send your move to the URL extracted from the Json (see <a href="#json-url">Json urls for more details</a>) using a POST request. Here are the parameters you need to send in the POST body:
                <dl>
                    <dt>key (required)<dt><dd>The secret key you wrote down after registering at the <a href="@routes.User.registerForm()">register page</a></dd>
                    <dt>dir (required)<dt><dd>Can be one of: 'Stay', 'North', 'South', 'East', 'West'</dd>
                </dl>
                </li>
                <li>Parse the JSON received in the same way you did in the second step. Repeat until the game is finished. See the <a href="#json-doc">Json documentation</a> to know when a game is finished.</li>
            </ol>

            <h4>Arena</h4>
            <p>In arena mode, you will play against other players. Your games will be rated and your rank will be updated accordingly.</p>
            <p>In arena mode, the url you will need to use is: <pre>http://vindinium.jousse.org/api/arena</pre></p>
            <p>Here are the steps you need to follow to play in arena mode:</p>
            <ol>
                <li>Send a POST HTTP request to the <strong>http://vindinium.jousse.org/api/arena</strong> URL to get the initial game state. There is only one required parameter to this first call:
                <dl>
                    <dt>key (required)<dt><dd>The secret key you wrote down after registering at the <a href="@routes.User.registerForm()">register page</a></dd>
                </dl>
                </li>
                <li>Parse the JSON you've received as a response of the first step. See <a href="#json-doc">Json documentation for more details</a>.</li>
                <li>Send your move to the URL extracted from the Json (see <a href="#json-url">Json urls for more details</a>) using a POST request. Here are the parameters you need to send in the POST body:
                <dl>
                    <dt>key (required)<dt><dd>The secret key you wrote down after registering at the <a href="@routes.User.registerForm()">register page</a></dd>
                    <dt>dir (required)<dt><dd>Can be one of: 'Stay', 'North', 'South', 'East', 'West'</dd>
                </dl>
                </li>
                <li>Parse the JSON received in the same way you did in the second step. Repeat until the game is finished. See the <a href="#json-doc">Json documentation</a> to know when a game is finished.</li>
            </ol>

            <h3>HTTP response codes</h3>
            <p>When you issue a call to the server, it will respond using normal HTTP codes:<p>
            <ul>
                <li><strong>200</strong>: Everything went well, good job!</li>
                <li><strong>4xx</strong> (400, 404, …): You did something wrong (wrong secret key, trying to play when the game is already finished, too slow to send the move, …). Be sure to check the <strong>response body</strong> to know what the exact error is.</li>
                <li><strong>500</strong>: Something went wrong on the server side. How could it be possible? ;)</li>
            </ul>

            <h3>Timeout</h3>
            <p>You have a maximum of 2 seconds to play a move. If you exceed this limit, your bot is marked as "crashed". The game is over for you, you can't issue any move anymore. You should be aware that you can still be the winner of the game if nobody is able to earn more gold than the gold you had when your bot crashed.</p>

            <h2 id="json-doc">Json Documentation</h2>
            <p>Below is a full sample of the Json that the server will send to your client. Each object is described in details later in the documenattion.</p>
            <pre>
{
   "game":{
      "id":"s2xh3aig",
      "turn":1100,
      "maxTurns":1200,
      "heroes":[
         {
            "id":1,
            "name":"vjousse",
            "userId":"j07ws669",
            "elo":1200,
            "pos":{
               "x":5,
               "y":6
            },
            "life":60,
            "gold":0,
            "mineCount":0,
            "spawnPos":{
               "x":5,
               "y":6
            },
            "crashed":true
         },
         {
            "id":2,
            "name":"vjousse",
            "userId":"j07ws669",
            "elo":1200,
            "pos":{
               "x":12,
               "y":6
            },
            "life":100,
            "gold":0,
            "mineCount":0,
            "spawnPos":{
               "x":12,
               "y":6
            },
            "crashed":true
         },
         {
            "id":3,
            "name":"vjousse",
            "userId":"j07ws669",
            "elo":1200,
            "pos":{
               "x":12,
               "y":11
            },
            "life":80,
            "gold":0,
            "mineCount":0,
            "spawnPos":{
               "x":12,
               "y":11
            },
            "crashed":true
         },
         {
            "id":4,
            "name":"vjousse",
            "userId":"j07ws669",
            "elo":1200,
            "pos":{
               "x":4,
               "y":8
            },
            "life":38,
            "gold":1078,
            "mineCount":6,
            "spawnPos":{
               "x":5,
               "y":11
            },
            "crashed":false
         }
      ],
      "board":{
         "size":18,
         "tiles":"##############        ############################        ##############################    ##############################$4    $4############################  @@4    ########################  @@1##    ##    ####################  []        []  ##################        ####        ####################  $4####$4  ########################  $4####$4  ####################        ####        ##################  []        []  ####################  @@2##    ##@@3  ########################        ############################$-    $-##############################    ##############################        ############################        ##############"
      },
      "finished":true
   },
   "hero":{
      "id":4,
      "name":"vjousse",
      "userId":"j07ws669",
      "elo":1200,
      "pos":{
         "x":4,
         "y":8
      },
      "life":38,
      "gold":1078,
      "mineCount":6,
      "spawnPos":{
         "x":5,
         "y":11
      },
      "crashed":false
   },
   "token":"lte0",
   "viewUrl":"http://localhost:9000/s2xh3aig",
   "playUrl":"http://localhost:9000/api/s2xh3aig/lte0/play"
}
</pre>
            <h3>Game object</h3>
            <pre>
   "game":{
      "id":"s2xh3aig",
      "turn":1100,
      "maxTurns":1200,
      "heroes":[...],
      "board":{
         "size":18,
         "tiles":"##############        ############################        ##############################    ##############################$4    $4############################  @@4    ########################  @@1##    ##    ####################  []        []  ##################        ####        ####################  $4####$4  ########################  $4####$4  ####################        ####        ##################  []        []  ####################  @@2##    ##@@3  ########################        ############################$-    $-##############################    ##############################        ############################        ##############"
      },
      "finished":true
      }</pre>

            <dl>
                <dt>id<dt><dd>Unique identifier of the game</dd>
                <dt>turn<dt><dd>Current number of moves since the beginning. This is the total number of moves done at this point. Each turn contains 4 move (one for each player). So if you want to know the "real" turn number, you need to divide this number by 4.</dd>
                <dt>maxTurns<dt><dd>Maximum number of turns. Same as above, you may need to divide this number by 4.</dd>
                <dt>heroes<dt><dd>An array of <a href="#json-hero">Hero objects</a>.</dd>
                <dt>board<dt><dd>A Json object with two values. <strong>size</strong> is the size of the map: the number of horizontal/vertical tiles. As the map is always a square, this number is the same for X and Y. <strong>tiles</strong> is a string representing the map. Each tile is coded using two chars (see the <a href="@routes.App.documentation()#rules-legend">rules legend for more information</a>). As you may already have noticed, to get each line of the map, you just have to use a %size (modulo) on the tiles.</dd>
                <dt>finished<dt><dd>If the game is finished or not.</dd>
            </dl>
            <h3 id="json-hero">Hero object</h3>
            <pre>
         {
            "id":1,
            "name":"vjousse",
            "userId":"j07ws669",
            "elo":1200,
            "pos":{
               "x":5,
               "y":6
            },
            "life":60,
            "gold":0,
            "mineCount":0,
            "spawnPos":{
               "x":5,
               "y":6
            },
            "crashed":true
         }</pre>
            <p>Nothing special here, <strong>pos</strong> represents your initial position on the map. <strong>spawnPos</strong> represents the position where you will respawn when you die. For now, it's the same position. <strong>elo</strong> is the current rating of the player (the higher the better).</p>
            <h3 id="json-url">Urls</h3>

            <pre>
   "viewUrl":"http://localhost:9000/s2xh3aig",
   "playUrl":"http://localhost:9000/api/s2xh3aig/lte0/play"</pre>

            <dl>
                <dt>viewUrl<dt><dd>An URL that you can open in your browser to view a replay of the game.</dd>
                <dt>playUrl<dt><dd>The URL you need to use to send your move orders to the server.</dd>
            </dl>
        </div>
    </div>
</section>
}
